/_includes export-ignore  
/_layouts export-ignore  
_config.yml export-ignore  
.gitattributes export-ignore  
.gitignore export-ignore
package.sh export-ignore
serve.sh export-ignore
404.html export-ignore
/docs export-ignore
Gemfile export-ignore
Gemfile.lock export-ignore
